[Unit]
Description=Shipping Service

[Service]
User=roboshop
Environment=CART_ENDPOINT=cart-dev.learndevopsb71shop.site:8080
Environment=DB_HOST=mysql-dev.learndevopsb71shop.site
ExecStart=/bin/java -jar /app/shipping.jar
SyslogIdentifier=shipping

[Install]
WantedBy=multi-user.target
